In [936]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [937]:
lol = pd.read_csv(r"C:\Users\Petra\OneDrive\Desktop\train.csv")
lol.tail(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [938]:
lol.head(1)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False

In [939]:
lol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [940]:
lol.shape

(8693, 14)

**CLEANING DATA

In [941]:
lol.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [942]:
lol['HomePlanet'].unique()

array(['Europa', 'Earth', 'Mars', nan], dtype=object)

In [943]:
lol.HomePlanet.fillna(lol['HomePlanet'].mode()[0], inplace = True)

In [944]:
lol['HomePlanet'].mode()

0    Earth
Name: HomePlanet, dtype: object

In [945]:
lol['HomePlanet'].fillna(lol['HomePlanet'].mode(), inplace = True)

In [946]:
lol.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [947]:
lol.CryoSleep.unique()

array([False, True, nan], dtype=object)

In [948]:
lol['CryoSleep'].ffill(axis = 0, inplace = True)

In [949]:
lol.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [950]:
lol.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [951]:
lol.tail(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [952]:
lol['Destination'].ffill(axis = 0, inplace = True)

In [953]:
lol.dropna(subset = ['Cabin', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name'], inplace = True)

In [954]:
lol.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age             160
VIP             181
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name              0
Transported       0
dtype: int64

In [955]:
lol.Age.fillna(lol.Age.median(), inplace = True)

In [956]:
lol.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin             0
Destination       0
Age               0
VIP             181
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name              0
Transported       0
dtype: int64

In [957]:
lol['VIP'].ffill(axis = 0, inplace = True)

In [958]:
lol.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

In [959]:
pd.crosstab(lol.Transported,lol.CryoSleep)

CryoSleep    False  True
Transported
False         3189   503
True          1612  2121

**ANALYZING DATA

In [960]:
lol.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False

In [961]:
lol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7425 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   7425 non-null   object
 1   HomePlanet    7425 non-null   object
 2   CryoSleep     7425 non-null   bool
 3   Cabin         7425 non-null   object
 4   Destination   7425 non-null   object
 5   Age           7425 non-null   float64
 6   VIP           7425 non-null   bool
 7   RoomService   7425 non-null   float64
 8   FoodCourt     7425 non-null   float64
 9   ShoppingMall  7425 non-null   float64
 10  Spa           7425 non-null   float64
 11  VRDeck        7425 non-null   float64
 12  Name          7425 non-null   object
 13  Transported   7425 non-null   bool
dtypes: bool(3), float64(6), object(5)
memory usage: 717.8+ KB

**MACHINE LEARNING

In [962]:
lol2 = lol.copy()

In [963]:
lol2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7425 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   7425 non-null   object
 1   HomePlanet    7425 non-null   object
 2   CryoSleep     7425 non-null   bool
 3   Cabin         7425 non-null   object
 4   Destination   7425 non-null   object
 5   Age           7425 non-null   float64
 6   VIP           7425 non-null   bool
 7   RoomService   7425 non-null   float64
 8   FoodCourt     7425 non-null   float64
 9   ShoppingMall  7425 non-null   float64
 10  Spa           7425 non-null   float64
 11  VRDeck        7425 non-null   float64
 12  Name          7425 non-null   object
 13  Transported   7425 non-null   bool
dtypes: bool(3), float64(6), object(5)
memory usage: 717.8+ KB

In [964]:
lol2.drop(columns = ['PassengerId', 'Cabin','Name'], axis = 1, inplace = True)

In [965]:
lol2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7425 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    7425 non-null   object
 1   CryoSleep     7425 non-null   bool
 2   Destination   7425 non-null   object
 3   Age           7425 non-null   float64
 4   VIP           7425 non-null   bool
 5   RoomService   7425 non-null   float64
 6   FoodCourt     7425 non-null   float64
 7   ShoppingMall  7425 non-null   float64
 8   Spa           7425 non-null   float64
 9   VRDeck        7425 non-null   float64
 10  Transported   7425 non-null   bool
dtypes: bool(3), float64(6), object(2)
memory usage: 543.8+ KB

In [966]:
lol2.HomePlanet.unique()

array(['Europa', 'Earth', 'Mars'], dtype=object)

In [967]:
from sklearn.preprocessing import LabelEncoder

In [968]:
lencoder = LabelEncoder()

In [969]:
lol2.HomePlanet = lencoder.fit_transform(lol2.HomePlanet)

In [970]:
lol2.CryoSleep = lencoder.fit_transform(lol2.CryoSleep)

In [971]:
lol2.Destination = lencoder.fit_transform(lol2.Destination)

In [972]:
lencoder.classes_

array(['55 Cancri e', 'PSO J318.5-22', 'TRAPPIST-1e'], dtype=object)

In [973]:
lol2.VIP = lencoder.fit_transform(lol2.VIP)

In [974]:
lol2.Transported = lencoder.fit_transform(lol2.Transported)

In [975]:
lol2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7425 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    7425 non-null   int32
 1   CryoSleep     7425 non-null   int64
 2   Destination   7425 non-null   int32
 3   Age           7425 non-null   float64
 4   VIP           7425 non-null   int64
 5   RoomService   7425 non-null   float64
 6   FoodCourt     7425 non-null   float64
 7   ShoppingMall  7425 non-null   float64
 8   Spa           7425 non-null   float64
 9   VRDeck        7425 non-null   float64
 10  Transported   7425 non-null   int64
dtypes: float64(6), int32(2), int64(3)
memory usage: 638.1 KB

In [976]:
X = lol2.drop('Transported', axis = 1).values
X.shape

(7425, 10)

In [977]:
from sklearn.preprocessing import MinMaxScaler

In [978]:
min_max = MinMaxScaler()

In [979]:
X_transform = min_max.fit_transform(X)

In [980]:
Y = lol2.Transported.values
Y.shape

(7425,)

In [981]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [982]:
x_train, x_test,y_train,y_test = train_test_split(X_transform,Y,random_state = 457865,test_size = 0.2)

In [983]:
model = LogisticRegression()

In [984]:
model.fit(x_train, y_train)

LogisticRegression()

In [985]:
model.score(x_train, y_train)

0.7604377104377105

In [986]:
model.score(x_test,y_test)

0.764983164983165

In [987]:
lol2.Transported.value_counts()

1    3733
0    3692
Name: Transported, dtype: int64

In [988]:
from sklearn.model_selection import cross_val_score

In [989]:
scores = cross_val_score(model, X,Y, cv = 5)

C:\Users\Petra\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Petra\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Petra\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Petra\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [990]:
scores

array([0.78451178, 0.77575758, 0.78653199, 0.79191919, 0.7986532 ])

In [991]:
scores.mean()

#Our train_test data is balanced.

0.7874747474747474

In [992]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [993]:
model2 = KNeighborsClassifier(n_jobs = -1)

In [994]:
model2.fit(x_train, y_train)

KNeighborsClassifier(n_jobs=-1)

In [995]:
model2.score(x_test,y_test)

0.7562289562289563

In [996]:
model2.score(x_train, y_train)

0.8215488215488216

In [997]:
model3 = RandomForestClassifier(n_jobs = -1)

In [998]:
model3.fit(x_train, y_train)

RandomForestClassifier(n_jobs=-1)

In [999]:
model3.score(x_test,y_test)

0.7865319865319865

In [1000]:
model3.score(x_train, y_train)

0.9331649831649832

In [1001]:
model4 = SVC()

In [1002]:
model4.fit(x_train, y_train)

SVC()

In [1003]:
model4.score(x_test,y_test)

0.767003367003367

In [1004]:
model4.score(x_train, y_train)

0.7686868686868686

In [1005]:
from sklearn.metrics import classification_report

In [1006]:
predY = model.predict(x_test)

In [1007]:
print(classification_report(y_test,predY))

              precision    recall  f1-score   support

           0       0.74      0.82      0.78       754
           1       0.79      0.71      0.75       731

    accuracy                           0.76      1485
   macro avg       0.77      0.76      0.76      1485
weighted avg       0.77      0.76      0.76      1485

In [1008]:
collective = [model,model2,model3,model4]

In [1009]:
param = {'penalty': ['l1','l2'], 'max_iter': [10,50,100,150,200]}
param2 = {'n_neighbors': range(3,15)}
param3 = {'penalty': ['l1','l2'], 'min_samples_split': range(0,10), 'max_depth': range(0,20)}
param4 = {'C': range(0,3), 'gamma': ['scale','auto']}

In [1010]:
param_list = [param, param2, param3, param4]

In [1011]:
#creating a dataframe for comparison
model_log = ['_model', '_model2', '_model3','_model4']

In [1012]:
for i in range(len(collective)):
    Grid=GridSearchCV(estimator=collective[i], param_grid=param_list[i], n_jobs=-1, cv=5)
Grid.fit(X_transform,Y)
Grid.best_params_

C:\Users\Petra\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
10 fits failed out of a total of 30.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Petra\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Petra\anaconda3\lib\site-packages\sklearn\svm\_base.py", line 251, in fit
    fit(X, y, sample_weight, solver_type, kernel, random_seed=seed)
  File "C:\Users\Petra\anaconda3\lib\site-packages\sklearn\svm\_base.py", line 333, in _dense_fit
    ) = libsvm.fit(
  File "sklearn\svm\_libsvm.pyx", line 192, in sklearn.svm._libsvm.fit
ValueError: C <= 0

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Petra\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:953: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.76619529 0.72377104 0.76942761 0.73670034]
  warnings.warn(

{'C': 2, 'gamma': 'scale'}

In [1013]:
model42 = SVC(C = 2, gamma = 'scale')

In [1014]:
model42.fit(x_train, y_train)

SVC(C=2)

In [1015]:
model42.score(x_test, y_test)

0.7744107744107744

In [1016]:
print(classification_report(y_test,predY))

              precision    recall  f1-score   support

           0       0.74      0.82      0.78       754
           1       0.79      0.71      0.75       731

    accuracy                           0.76      1485
   macro avg       0.77      0.76      0.76      1485
weighted avg       0.77      0.76      0.76      1485

In [1017]:
pop = pd.read_csv(r'C:\Users\Petra\OneDrive\Desktop\test.csv')

In [1018]:
pop

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [1019]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [1020]:
pop.tail(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [1021]:
pop.HomePlanet.mode()

0    Earth
Name: HomePlanet, dtype: object

In [1022]:
pop['HomePlanet'].fillna(pop['HomePlanet'].mode()[0], inplace = True)

In [1023]:
pop.isnull().sum()

PassengerId       0
HomePlanet        0
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [1024]:
pop['CryoSleep'].ffill(axis = 0, inplace = True)

In [1025]:
pop.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep         0
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [1026]:
pop['Destination'].ffill(axis = 0, inplace = True)

In [1027]:
pop['Cabin'].ffill(axis = 0, inplace = True)

In [1028]:
pop['RoomService'].ffill(axis = 0, inplace = True)

In [1029]:
pop['FoodCourt'].ffill(axis = 0, inplace = True)

In [1030]:
pop['ShoppingMall'].ffill(axis = 0, inplace = True)

In [1031]:
pop['Spa'].ffill(axis = 0, inplace = True)

In [1032]:
pop['VRDeck'].ffill(axis = 0, inplace = True)

In [1033]:
pop.Age.fillna(lol.Age.median(), inplace = True)

In [1034]:
pop.isna().sum()

PassengerId      0
HomePlanet       0
CryoSleep        0
Cabin            0
Destination      0
Age              0
VIP             93
RoomService      0
FoodCourt        0
ShoppingMall     0
Spa              0
VRDeck           0
Name            94
dtype: int64

In [1035]:
pop['VIP'].ffill(axis = 0, inplace = True)

In [1036]:
pop.isna().sum()

PassengerId      0
HomePlanet       0
CryoSleep        0
Cabin            0
Destination      0
Age              0
VIP              0
RoomService      0
FoodCourt        0
ShoppingMall     0
Spa              0
VRDeck           0
Name            94
dtype: int64

In [1037]:
pop.drop(columns = 'Name', axis = 1, inplace=True)

In [1038]:
pop.isna().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

In [1039]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   bool
 3   Cabin         4277 non-null   object
 4   Destination   4277 non-null   object
 5   Age           4277 non-null   float64
 6   VIP           4277 non-null   bool
 7   RoomService   4277 non-null   float64
 8   FoodCourt     4277 non-null   float64
 9   ShoppingMall  4277 non-null   float64
 10  Spa           4277 non-null   float64
 11  VRDeck        4277 non-null   float64
dtypes: bool(2), float64(6), object(4)
memory usage: 342.6+ KB

In [1040]:
pop2= pop

In [1041]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [1042]:
lencoder = LabelEncoder()

In [1043]:
pop2.HomePlanet = lencoder.fit_transform(pop2.HomePlanet)

In [1044]:
pop2.tail(2)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
4275,9273_01,1,False,D/297/P,55 Cancri e,27.0,False,0.0,2680.0,0.0,0.0,523.0
4276,9277_01,0,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0

In [1045]:
pop2.HomePlanet = lencoder.fit_transform(pop2.HomePlanet)

In [1046]:
pop2.CryoSleep = lencoder.fit_transform(pop2.CryoSleep)

In [1047]:
pop2.VIP = lencoder.fit_transform(pop2.VIP)

In [1048]:
pop2.Destination = lencoder.fit_transform(pop2.Destination)

In [1054]:
pop2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   int64
 2   CryoSleep     4277 non-null   int64
 3   Destination   4277 non-null   int32
 4   Age           4277 non-null   float64
 5   VIP           4277 non-null   int64
 6   RoomService   4277 non-null   float64
 7   FoodCourt     4277 non-null   float64
 8   ShoppingMall  4277 non-null   float64
 9   Spa           4277 non-null   float64
 10  VRDeck        4277 non-null   float64
dtypes: float64(6), int32(1), int64(3), object(1)
memory usage: 351.0+ KB

In [1055]:
pop2['PassengerId']

0       0013_01
1       0018_01
2       0019_01
3       0021_01
4       0023_01
         ...
4272    9266_02
4273    9269_01
4274    9271_01
4275    9273_01
4276    9277_01
Name: PassengerId, Length: 4277, dtype: object

In [1056]:
pop2.head(5)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0013_01,0,1,2,27.0,0,0.0,0.0,0.0,0.0,0.0
1,0018_01,0,0,2,19.0,0,0.0,9.0,0.0,2823.0,0.0
2,0019_01,1,1,0,31.0,0,0.0,0.0,0.0,0.0,0.0
3,0021_01,1,0,2,38.0,0,0.0,6652.0,0.0,181.0,585.0
4,0023_01,0,0,2,20.0,0,10.0,0.0,635.0,0.0,0.0

In [1057]:
pop2['PassengerId'] = pop2['PassengerId'].str.replace('_', '')

In [1058]:
X_test_data = pop2.drop(columns = 'PassengerId').values

In [1059]:
pop2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   int64
 2   CryoSleep     4277 non-null   int64
 3   Destination   4277 non-null   int32
 4   Age           4277 non-null   float64
 5   VIP           4277 non-null   int64
 6   RoomService   4277 non-null   float64
 7   FoodCourt     4277 non-null   float64
 8   ShoppingMall  4277 non-null   float64
 9   Spa           4277 non-null   float64
 10  VRDeck        4277 non-null   float64
dtypes: float64(6), int32(1), int64(3), object(1)
memory usage: 351.0+ KB

In [1060]:
pred = {'Transported':model42.predict(X_test_data)}

In [1061]:
print(predicted)

      Transported PassengerId
0            True      001301
1            True      001801
2            True      001901
3            True      002101
4            True      002301
...           ...         ...
3643         True      793401
3644         True         NaN
3645         True         NaN
3646         True      793801
3647         True      794201

[3648 rows x 2 columns]

In [1062]:
predicted = pd.DataFrame(pred)

In [1063]:
predicted

      Transported
0               1
1               1
2               1
3               1
4               1
...           ...
4272            1
4273            1
4274            1
4275            1
4276            1

[4277 rows x 1 columns]

In [1064]:
predicted['PassengerId'] = pop2['PassengerId']

In [1065]:
predicted

      Transported PassengerId
0               1      001301
1               1      001801
2               1      001901
3               1      002101
4               1      002301
...           ...         ...
4272            1      926602
4273            1      926901
4274            1      927101
4275            1      927301
4276            1      927701

[4277 rows x 2 columns]

In [1066]:
predicted['Transported'].replace([0,1],[False,True], inplace = True)

In [1067]:
predicted

      Transported PassengerId
0            True      001301
1            True      001801
2            True      001901
3            True      002101
4            True      002301
...           ...         ...
4272         True      926602
4273         True      926901
4274         True      927101
4275         True      927301
4276         True      927701

[4277 rows x 2 columns]

In [1068]:
predicted.to_csv('Spaceship_Output2.csv', index = False)

In [1069]:
predicted['Transported'].value_counts()

True     4258
False      19
Name: Transported, dtype: int64